.Classic {
  text-align: center;
}

.Classic-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Classic-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Classic-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Classic-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Classic-board {
  top: 44%;
  left: 46%;
}

#Classic-startBtn {
  position: absolute;
  top: 85%;
  left: 46%;
}

#Classic-boardSizeBtns {
  position: absolute;
  top: 93%;
  left: 75%;
  text-align: center;
  color: white;
  align-items:center;
  margin:0 auto;
}