button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: white;
    font-size: x-large;
    margin: 50px;
 }
 
 form {
    background-color: white;
    width: 50%;
    margin-left: 25%;
    min-height: 50vh;
    border-radius: 15px;
 }
 
 label, h1 {
    color:#5D5FEF;
    margin: 10px;
 }
 
 input {
    margin: 10px;
 }
 
 html, body {
    min-height: 100%;
 }