.Daily {
    text-align: center;
  }
  
  .Daily-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Daily-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Daily-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #VSBot-botBoard {
    top: 44%;
    left: 22%;
  }

  #VSBot-playerBoard {
    top: 44%;
    left: 68%;
  }
  
  #VSBot-startBtn {
    position: absolute;
    top: 85%;
    left: 45%;
  }

#VSBot-boardSizeBtns {
  position: absolute;
  top: 90%;
  left: 60%;
  text-align: center;
  color: white;
  align-items:center;
  margin:0 auto;
}