body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(252.44deg, #EF5DA8 0%, rgba(239, 93, 168, 0) 100%), #5D5FEF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board {
  position: absolute;
  mix-blend-mode: lighten;
  transform: translate(-50%,-50%);
}

.tile {
  position:absolute;
  background-color: transparent;
  user-select: none;
  border: none;
  font-size: 0;
  overflow:visible;
}
.tileOuter {
  position: absolute;
  background-color: transparent;
  user-select: none;
  border: none;
}
.tileInner {
  position: relative;
  font-weight: 500;
  background-color: white;
  border-radius: 6px; /*rounded edges*/
  padding: 0px;
  display: grid;
	place-items: center;
  color: black;
}

.gradtext {
  background: linear-gradient(209.84deg, #EF5DA8 -29.17%, rgba(239, 93, 168, 0) 130.69%), linear-gradient(0deg, #5D5FEF, #5D5FEF);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleText {
  position: absolute;
  font-size: 160px;
  color: white;
  width: 50%;
  left: 10%;
  top: 14%;
  animation: yourNewSuperpower 1s;
}
@keyframes yourNewSuperpower {
  from {
  	opacity: 0;
    transform: translateY(50%);
  }
}

@keyframes button1Grow {
  to {
    width: 210px;
    height: 70px;
  }
}

/* white, rectanglular */
.button1 {
  width: 200px;
  height: 60px;
  border-radius: 6px;
  position: absolute;
  font-size: 28px;
  transform: translate(-50%, -50%);
  border: none;
  text-align: center;
  background-color: white;
  color:#5D5FEF;
  padding:0;
}
.button1:hover {
  animation: button1Grow 0.1s 1 ease-in-out forwards;
}
.button1:active {
  background: linear-gradient(252.44deg, #EF5DA8 0%, rgba(239, 93, 168, 0) 100%), #5D5FEF;
  -webkit-text-fill-color: white;
}

/* small, circular */
.button2 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  border: none;
  text-align: center;
  background-color: white;
  color:#5D5FEF;
  padding:0px;
  margin: 0 auto;
}
.button2:hover {
  background-color: lightgray;
}
.button2:active {
  background: linear-gradient(252.44deg, #EF5DA8 0%, rgba(239, 93, 168, 0) 100%), #5D5FEF;
  -webkit-text-fill-color: white;
}

.leaderBoard {
  position: absolute;
  width: 400px;
  height: 300px;
  overflow:auto;
}

.LBEntry {
  position: relative;
  padding: 15px;
  color: white;
  font-size: 25px;
}
.LBEntry-Field1 {
  position:absolute;
  text-align: left;
  left:0px;
  width:150px;
  overflow:hidden;
}
.LBEntry-Field2 {
  position:absolute;
  text-align: left;
  left:180px;
  width:30px;
  overflow: hidden;
}
.LBEntry-Field3 {
  position:absolute;
  text-align: left;
  left:240px;
  width:110px;
  overflow: hidden;
}